<h1>Flight Booker</h1>

<h2>Find a flight</h2>

<%= render 'search', airport_options: @airport_options, departure_dates: @departure_dates %>

<% @flights.each do |flight| %>
  <p><%= flight.departure_airport.name %> to <%= flight.arrival_airport.name %></p>
  <p><%= flight.departure_date %></p>
  <p><%= flight.duration %></p>
<% end %>
