<h1>New Booking</h1>
<div data-controller="passenger" data-passenger-index-value="<%= @booking.passengers.count %>">
  <%= form_with model: @booking do |form| %>
    <div>
      <%= form.hidden_field :flight_id, value: @flight.id %>
      <h2><%= "#{@flight.departure_airport.iata_code} - #{@flight.arrival_airport.iata_code}" %></h2>
      <p>Departing on: <%= @flight.departure_date_formatted %></p>
      <p>Departure airport: <%= @flight.departure_airport.name %></p>
      <p>Arrival airport: <%= @flight.arrival_airport.name %></p>
    </div>
    <div>
      <%= form.fields_for :passengers do |sub_form| %>
        <div data-passenger-target="form">
          <div data-passenger-target="removed">
            <strong>Passenger Details</strong> <br>
            <%= sub_form.label :name, 'Name' %>
            <%= sub_form.text_field :name %> <br>
            <%= sub_form.label :email, 'Email' %>
            <%= sub_form.text_field :email %> <br> <br>

            <template data-passenger-target="added">
              <div data-passenger-target="removed">
                <strong>Passenger Details</strong> <br>
                <%= sub_form.label :name, 'Name' %>
                <%= sub_form.text_field :name %> <br>
                <%= sub_form.label :email, 'Email' %>
                <%= sub_form.text_field :email %> <br> <br>
              </div>
            </template>
          </div>
        </div>
      <% end %>
    </div>
    <%= form.submit 'Make booking' %>
  <% end %>
  <button data-action="passenger#add">Add Passenger</button>
  <button data-action="passenger#removePax">Remove Passenger</button>
</div>

